body {
    background-color: black;
    color: darkgoldenrod; /* For grid cell labels */
}

h1 {
    text-align: center;
    color: white;
}

.grid-container {
    display: grid;
    /* The "grid-template-columns" and "grid-template-rows" are set dynamically in "game.js" */
    /*
    grid-template-columns: repeat(31, 3vw);
    grid-template-rows: repeat(13, 5.5vh);
    */
    margin-top: 20px;
    justify-content: center;
}
  
.grid-item {
    border: 1px solid darkred;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#welcomeBtns {
    text-align: center;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

    /* Centralise countdown text. Only works when display: flex */
    justify-content: center; /* Vertically */
    align-items: center; /* Horizontally */
}

#countdown {
    color: yellow;
    font-size: 7em;
}